.home {
  // background-image: url("../../public/images/pink_wave.png");
  background-size: cover;
  background-attachment: fixed;

  span {
    @apply h-[200px] w-[10px] bg-pink-500 absolute top-32 left-[50%] -z-10 rounded-full blur-[50px];
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    // box-shadow: inset 0 400px 1000px rgb(0, 0, 0);

    @media screen and (max-width: 400px) {
      // box-shadow: inset 0 200px 1000px rgba(0, 0, 0, 1);
    }
  }
}

.bg_image {
  @apply absolute inset-0 bg-black opacity-30 z-10;
}

.container {
  @apply sm:w-[70%] w-[90%] mx-auto h-[80vh];
}

.bg_backdrop {
  @apply bg-black absolute inset-0;
  z-index: 2;
}

.hero {
  @apply relative z-10 flex;

  .right {
    @apply flex items-center justify-center;
    img {
      @apply mx-12;
    }
  }

  .left {
    @apply my-16 sm:my-28 w-[80%];

    .intro_title {
      @apply font-work text-[12px] sm:text-sm text-gray-300 relative overflow-hidden;
    }

    .main_title {
      @apply mt-4 font-epilogue text-4xl sm:text-5xl  md:text-6xl lg:text-6xl text-white font-black relative overflow-hidden;
    }

    .intro_text {
      @apply font-work text-sm text-gray-300 mt-4  w-[80%] leading-7;
    }

    .cta {
      @apply mt-8;

      button {
        text-transform: uppercase;
      }
    }
  }
}
