.bg_image {
  @apply absolute inset-0 overflow-hidden;
  background-image: url("../../public/images/pink_wave.png");
  background-size: cover;
  background-attachment: fixed;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 400px 1000px rgb(0, 0, 0);

    @media screen and (max-width: 400px) {
      box-shadow: inset 0 200px 1000px rgba(0, 0, 0, 1);
    }
  }
}

.container {
  @apply sm:w-[70%] w-[90%] mx-auto h-[80vh];
}

.bg_backdrop {
  @apply bg-black absolute inset-0;
  z-index: 2;
}

.hero {
  @apply relative z-10;

  .left {
    @apply my-16 sm:my-28;

    .intro_title {
      @apply font-josefin text-[12px] sm:text-sm text-gray-300 text-center relative overflow-hidden;
    }

    .main_title {
      @apply mt-4 font-montserrat text-4xl sm:text-5xl text-center md:text-6xl lg:text-8xl text-white font-bold relative overflow-hidden;
      background-image: url("../../public/images/pink_wave.jpg");
      background-position: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .intro_text {
      @apply font-josefin text-sm text-gray-300 mt-4 text-center w-[80%] mx-auto leading-7;
    }

    .cta {
      @apply text-center  mt-8;

      button {
        text-transform: uppercase;
      }
    }
  }
}
