.container {
  @apply h-auto w-[90%] sm:w-[70%] mx-auto;

  h1 {
    @apply text-center font-epilogue font-bold my-[100px] text-3xl sm:text-5xl uppercase drop-shadow-2xl leading-10;
    background: #ff5101;
    background: -webkit-linear-gradient(to right, #ffeaa6, #ff5101);
    background: linear-gradient(to right, #ffeaa6, #ff5101);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .parallax_container {
    @apply font-bold font-epilogue text-gray-600 opacity-[30%] text-[2rem] absolute top-[30rem] right-[50%] -z-50;
  }
}

.teachers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 4rem;

  h2 {
    @apply font-work text-white text-center mt-8;
  }
}

.teacher_pic {
  @apply w-full lg:mx-12 lg:my-0 my-8 flex flex-col items-center;

  img {
    @apply w-[300px] h-[300px] object-cover;
  }
}

.message {
  @apply text-center lg:text-left font-work text-white w-full text-sm;

  p {
    @apply leading-7;
  }

  blockquote {
    margin-top: 1rem;
  }
}
