.container {
  @apply w-[90%] sm:w-[70%] mx-auto my-12 h-auto;

  h1 {
    @apply text-center font-epilogue font-bold my-[70px] text-3xl sm:text-5xl uppercase drop-shadow-2xl;
    background: #ff5101;
    background: -webkit-linear-gradient(to right, #ffeaa6, #ff5101);
    background: linear-gradient(to right, #ffeaa6, #ff5101);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about_websters {
    @apply block mb-20;

    .websters img {
      @apply w-1/2 mx-auto object-contain;
    }

    .intro_text {
      @apply text-sm md:text-[1rem] text-white text-center font-work mt-8 leading-7;
    }
  }
}
