@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  @apply bg-black;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff5101;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb08b;
}
