@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  @apply bg-black;
}

.bg_stars {
  background: url("../public/images/stars.jpeg");
  position: absolute;
  top: 0vh;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: repeat;

  &:nth-child(2) {
    top: 300vh;
  }
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5095f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff77a9;
}
